@import  url(http://fonts.googleapis.com/css?family=Roboto:400,700,100,300);

/*------------------------------------*\
    FONT
\*------------------------------------*/
/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0b1 | 201101 
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

body {
    line-height: 1;
}

ol,ul {
    list-style: none;
}

blockquote,q {
    quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none;
}

:focus {
    outline: 1px dotted #336;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*------------------------------------*\
    $MAIN
\*------------------------------------*/
* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    font: 100%/1.4 Roboto;
    background: #FDF6E3;
}

a {
    text-decoration: none;
    color: #586e75;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 100%;
    text-align: center;
    background: url(../img/haibai_gradient.png) repeat-x;
    padding: 20px;
}

img.logo {
    margin: 0 auto 40px;
    padding: 40px 0 0;
}

.container-inner {
    max-width: 1140px;
    margin: 0 auto;
    overflow: hidden;
}

.container-inner.header {
    background: url(../img/haibai_header.png) no-repeat;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 500px;
}

.container.footer {
    color: #586e75;
    padding: 40px 0 0;
}

.container-inner.wrapper {
    width: 800px;
    padding: 40px 0 0;
    margin: auto;
    overflow: hidden;
}

.container.footer .container-inner {
    height: 100px;
}

.header-box {
    padding-top: 140px;
}

.slogan {
    font-size: 3.2em;
    color: #fff;
    font-weight: 200;
    padding: 0 0 30px;
    text-shadow: 0 1px 5px #333;
}

.newsletter,.download-button {
    position: relative;
    display: inline-block;
    padding: 30px;
    font-size: 2.6em;
    background: #6c71c4;
    text-decoration: none;
    color: #fff;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.download-button:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 282px;
    height: 118px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-size: 40px 40px;
    background-image: 0 25% transparent 25% transparent 50% rgba(38,38,75,.2) 50% rgba(38,38,75,.2) 75% transparent 75% transparent);
    background-image: linear-gradient(-45deg,rgba(38,38,75,.2) 25% transparent 25% transparent 50% rgba(38,38,75,.2) 50% rgba(38,38,75,.2) 75% transparent 75% transparent);
    background-image: 0 25% transparent 25% transparent 50% rgba(38,38,75,.2) 50% rgba(38,38,75,.2) 75% transparent 75% transparent);
}

#mc_embed_signup {
    display: block;
    width: 282px;
    margin: auto;
    border-bottom-right-radius: 25px;
    overflow: hidden;
}

#mc_embed_signup input {
    width: 282px;
    line-height: 2.4;
    font-size: 1em;
    border: none;
    border-bottom-right-radius: 25px;
    overflow: hidden;
    color: #586e75;
    text-indent: 1em;
}

.subscribe {
    border-top-left-radius: 25px;
    display: inline-block;
    padding: 30px 30px 20px;
    font-size: 2.6em;
    background: #6c71c4;
    text-decoration: none;
    color: #fff;
}

::-webkit-input-placeholder {
    text-indent: 1em;
}

:-moz-placeholder {
    text-indent: 1em;
}

::-moz-placeholder {
    text-indent: 1em;
}

:-ms-input-placeholder {
    text-indent: 1em;
}

.coll,.colr {
    width: 570px;
    padding: 80px 0 40px;
    float: left;
}

.sprite-devices {
    display: block;
    width: 299px;
    height: 365px;
    margin: auto;
    overflow: hidden;
}

.sprite-devices.entry_edit {
    background: url(../img/haibai_sprite-devices.png) no-repeat -1px -3px;
}

.sprite-devices.list_view {
    background: url(../img/haibai_sprite-devices.png) no-repeat -329px -3px;
}

.sprite-devices.notification {
    background: url(../img/haibai_sprite-devices.png) no-repeat -657px -3px;
}

.colr {
    text-align: left;
}

h1 {
    font-size: 2.6em;
    font-weight: 200;
    color: #6c71c4;
}

p {
    font-weight: 400;
    color: #586e75;
}

.profile-box {
    width: 120px;
    color: #586e75;
    float: left;
    margin: 40px 20px;
}

.profile-box span {
    font-weight: 700;
}

.profile-pic {
    width: 120px;
    height: 132px;
    display: block;
    margin: 0 0 20px;
    overflow: hidden;
}

.profile-pic.remi {
    background: url(../img/haibai_sprite-profilepics.png) no-repeat 0 0;
}

.profile-pic.rasmus {
    background: url(../img/haibai_sprite-profilepics.png) no-repeat -140px 0;
}

.profile-pic.maxim {
    background: url(../img/haibai_sprite-profilepics.png) no-repeat -281px 0;
}

.profile-pic.patrick {
    background: url(../img/haibai_sprite-profilepics.png) no-repeat -421px 0;
}

.profile-pic.isger {
    background: url(../img/haibai_sprite-profilepics.png) no-repeat -561px 0;
}